__pycache__
.vscode
config

venv
node_modules
package-lock.json
build
dist 

**/DB/file.json
**/DB/files/*
!**/DB/files
!**/DB/files/.gitkeep

**/accounts/

**/db/
**/db/profiles/*
**/db/accounts.json
# !**/db/profiles
# !**/db/profiles/.gitkeep
features_config copy.json

*.logs
test.ipynb
secret.key
logs.txt
test.json
test.js
*.ipynb
.*key
*key*.*
*.key
*.log
**/cookies.json
*.spec
cookies.json
test.py
magtronix_backend.exe


node_modules/
dist/
venv
build
dist
Quizomatic.exe

**/cache/
output
/config.json
/build/
*.log
!important.log
*.log
package-lock.json
ffmpeg
test.py
_backend\features\Quizomatic\build